[flake8]
ignore =
    # F403: unable to detect undefined names with `from x import *`
    F403,
    # F405: undefined or may be defined from `from foo imports *` imports
    F405
exclude =
  # No need to go through the VCS directories
  .git,.svn,.bzr,.hg,CVS,.tox,
  # nor cache entries
  *.pyc,__pycache__,
  # nor install directories
  *.egg-info,.eggs,.direnv,
statistics = True
max-line-length = 80
